.container {
  flex:1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top:5px;
  padding-left: 20px;
  overflow-y:auto;
}

.fetching-container {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Title {
  grid-column: 1 / 2;
  margin-bottom: 5px;
  }
  
.Description{
  grid-column: 2 / 3;
}