.App{
  display:flex;
  flex-direction: column;
  height:100vh;
}

.Header {
  width: 100vw;
  height: 1fr;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  font-weight: 800;
  color: white;
  background: rgb(29,89,148);
  background: linear-gradient(90deg, rgba(29,89,148,1) 25%, rgba(34,150,94,1) 75%);
}

