.Header {
  
  width: 100vw;
  height: 1fr;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  font-weight: 800;
  color: white;
  background: rgb(29,89,148);
  background: linear-gradient(90deg, rgba(29,89,148,1) 25%, rgba(34,150,94,1) 75%);
}
.Form{
  display: flex;
  height:100%;
  width: 100%;
}
.Search {
  
  padding:20px;
  height: 53px;
 
}


.SearchBar {
  flex:1;
  font-size: 20px;
  padding:10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: #aaaaaa;
}

.Button{
  margin-left: 10px;
  margin-right: 10px;
  width: 55px;
  padding:10px;
  cursor: pointer;
  background-color: #23995c !important ;
  box-shadow: 0 .01rem .25rem  #aaaaaa !important;
  border: none;
  border-radius: 2px;
  background-position: center;
  background-size: 35px;  
  background-repeat: no-repeat;
}
.Button:hover {background-color: #3e8e41}

.Button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}
.Icon {
  color: white;
  transform: rotate(90deg);
}
.Result{
  grid-column: 1 / span 2;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top:5px;
  padding-left: 20px;
  /* margin-left:10px; */
}

.Title{
  grid-column: 1 / 2;
  margin-bottom: 5px;
  }
  
  .Description{
    grid-column: 2 / 3;
  }

.Star{
  color: #aaaaaa;
  height: 20px;
  width:20px;
  vertical-align: -2px;
   /* margin-bottom: 5px; */
  margin-right: 5px; 
  cursor: pointer;
}

.FavouriteText{
  font-size: 30px;
  font-weight: 700;
  color: #23995c;
  margin-left: 10px;
}
.Favourites{
  
  position: fixed;
    bottom: 0;
    width: 100%;
  
  background-color: #f7fefa;
 
}